{% extends 'base.html.twig' %}

{% block title %}Menu{% endblock %}

{% block stylesheets %}
    <style>
        @import "/../stylesheets/menu.css";
    </style>
{% endblock %}

{% block body %}
    {% if is_granted('ROLE_CHEF') %}
        <h1>Please add in a new product!</h1>

        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>ProductName</th>
                <th>ProductPrice</th>
                <th>IsAvailable</th>
                <th>ProductDescription</th>
                <th>ProductCategory</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product.id }}</td>
                    <td>{{ product.productName }}</td>
                    <td>{{ product.productPrice }}</td>
                    <td>{{ product.isAvailable ? 'Yes' : 'No' }}</td>
                    <td>{{ product.productDescription }}</td>
                    <td>
                        <a href="{{ path('app_category_show', {'id': product.category.id}) }}">
                            {{ product.category }}
                        </a>
                    </td>
                    <td>
                        <a href="{{ path('app_product_show', {'id': product.id}) }}">show</a>
                        <a href="{{ path('app_product_edit', {'id': product.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a href="{{ path('app_product_new') }}" id="new_product_link">Create new</a>
        <hr>
    {% endif %}
    <div class="page-container">
        <section id="menu">
            <article>
                <h2 class="menu-title">Lets see the menu!</h2>
            </article>
        </section>
        <div class="menu-container">
            <div class="menu">
                <div class="menu-group-holder">
                    <h1 class="menu-group-heading">Starters</h1>
                </div>
                <div class="menu-group">
                    {% for product in products %}
                        {% if product.category == 'Starters' %}
                            <div class="menu-item">
                                <img src="../images/{{ product.image }} " alt="Pizza" class="menu-item-image">
                                <div class="menu-item-text">
                                    <h3 class="menu-item-heading">
                                        <span class="menu-item-name">{{ product.productName }}</span>
                                        <span class="menu-item-price">€{{ product.productPrice }}</span>
                                    </h3>
                                    <p class="menu-item-description">
                                        {{ product.productDescription }}
                                    </p>
                                    {% if app.user %}
                                        <p class="basket">
                                            <a class="add-basket"
                                               href="{{ path('add_basket', {'id': product.id}) }}"
                                               id="add_to_basket_link">Add to
                                                basket</a>
                                        </p>
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="menu-container">
            <div class="menu">
                <div class="menu-group-holder">
                    <h1 class="menu-group-heading">Main</h1>
                </div>
                <div class="menu-group">
                    {% for product in products %}
                        {% if product.category == 'Main' %}
                            <div class="menu-item">
                                <img src="../images/{{ product.image }} " alt="Pizza" class="menu-item-image">
                                <div class="menu-item-text">
                                    <h3 class="menu-item-heading">
                                        <span class="menu-item-name">{{ product.productName }}</span>
                                        <span class="menu-item-price">€{{ product.productPrice }}</span>
                                    </h3>
                                    <p class="menu-item-description">
                                        {{ product.productDescription }}
                                    </p>
                                    {% if app.user %}
                                        <p class="basket">
                                            <a class="add-basket"
                                               href="{{ path('add_basket', {'id': product.id}) }}"
                                               id="add_to_basket_link">Add to
                                                basket</a>
                                        </p>
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="menu-container">
            <div class="menu">
                <div class="menu-group-holder">
                    <h1 class="menu-group-heading">Dessert</h1>
                </div>
                <div class="menu-group">
                    {% for product in products %}
                        {% if product.category == 'Dessert' %}
                            <div class="menu-item">
                                <img src="../images/{{ product.image }} " alt="Pizza" class="menu-item-image">
                                <div class="menu-item-text">
                                    <h3 class="menu-item-heading">
                                        <span class="menu-item-name">{{ product.productName }}</span>
                                        <span class="menu-item-price">€{{ product.productPrice }}</span>
                                    </h3>
                                    <p class="menu-item-description">
                                        {{ product.productDescription }}
                                    </p>
                                    {% if app.user %}
                                        <p class="basket">
                                            <a class="add-basket"
                                               href="{{ path('add_basket', {'id': product.id}) }}"
                                               id="add_to_basket_link">Add to
                                                basket</a>
                                        </p>
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="menu-container">
            <div class="menu">
                <div class="menu-group-holder">
                    <h1 class="menu-group-heading">Drinks</h1>
                </div>
                <div class="menu-group">
                    {% for product in products %}
                        {% if product.category == 'Drinks' %}
                            <div class="menu-item">
                                <img src="../images/{{ product.image }} " alt="Pizza" class="menu-item-image">
                                <div class="menu-item-text">
                                    <h3 class="menu-item-heading">
                                        <span class="menu-item-name">{{ product.productName }}</span>
                                        <span class="menu-item-price">€{{ product.productPrice }}</span>
                                    </h3>
                                    <p class="menu-item-description">
                                        {{ product.productDescription }}
                                    </p>
                                    {% if app.user %}
                                        <p class="basket">
                                            <a class="add-basket"
                                               href="{{ path('add_basket', {'id': product.id}) }}"
                                               id="add_to_basket_link">Add to
                                                basket</a>
                                        </p>
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>


    </div>
{% endblock %}
