{% extends 'base.html.twig' %}

{% block title %}Menu{% endblock %}

{% block body %}
    {% if is_granted('ROLE_ADMIN') %}
        <h1>Welcome Admin!</h1>

        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>ProductName</th>
                <th>ProductPrice</th>
                <th>IsAvailable</th>
                <th>ProductDescription</th>
                <th>ProductCategory</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product.id }}</td>
                    <td>{{ product.productName }}</td>
                    <td>{{ product.productPrice }}</td>
                    <td>{{ product.isAvailable ? 'Yes' : 'No' }}</td>
                    <td>{{ product.productDescription }}</td>
                    <td>{{ product.category }}</td>
                    <td>
                        <a href="{{ path('app_product_show', {'id': product.id}) }}">show</a>
                        <a href="{{ path('app_product_edit', {'id': product.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('app_product_new') }}">Create new</a>
    {% else %}
        <div class="page-container">
            <section id="top-page">
                <article>
                    <h2>Lets see the menu!</h2>
                </article>
            </section>
            <nav class="food-menu-navbar">
                <a href="#top-page">See Menu</a>
                <a href="#entree">Entree</a>
                <a href="#main">Main</a>
                <a href="#deserts">Deserts</a>
            </nav>
            <div class="menu-container">
                <section id="entree">
                    <div class="menu">
                        <div class="menu-group-holder">
                            <h1 class="menu-group-heading">Entree</h1>
                        </div>
                        <div class="menu-group">
                            {% for product in products %}
                                <div class="menu-item">
                                    <img src="../images/pizza.jpg" alt="Pizza" class="menu-item-image">
                                    <div class="menu-item-text">
                                        <h3 class="menu-item-heading">
                                            <span class="menu-item-name">{{ product.productName }}</span>
                                            <span class="menu-item-price">€{{ product.productPrice }}</span>
                                        </h3>
                                        <p class="menu-item-description">
                                            {{ product.productDescription }}
                                        </p>
                                        <p>
                                            <a href="{{ path('add_basket', {'id': product.id}) }}">Add to basket</a>
                                        </p>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </section>

                <section id="main">
                    <div class="menu">
                        <div class="menu-group-holder">
                            <h1 class="menu-group-heading">Main</h1>
                        </div>
                        <div class="menu-group">
                            {% for product in products %}
                                <div class="menu-item">
                                    <img src="../images/pizza.jpg" alt="Pizza" class="menu-item-image">
                                    <div class="menu-item-text">
                                        <h3 class="menu-item-heading">
                                            <span class="menu-item-name">{{ product.productName }}</span>
                                            <span class="menu-item-price">€{{ product.productPrice }}</span>
                                        </h3>
                                        <p class="menu-item-description">
                                            {{ product.productDescription }}
                                        </p>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </section>

                <section id="deserts">
                    <div class="menu">
                        <div class="menu-group-holder">
                            <h1 class="menu-group-heading">Deserts</h1>
                        </div>
                        <div class="menu-group">
                            {% for product in products %}
                                <div class="menu-item">
                                    <img src="../images/pizza.jpg" alt="Pizza" class="menu-item-image">
                                    <div class="menu-item-text">
                                        <h3 class="menu-item-heading">
                                            <span class="menu-item-name">{{ product.productName }}</span>
                                            <span class="menu-item-price">€{{ product.productPrice }}</span>
                                        </h3>
                                        <p class="menu-item-description">
                                            {{ product.productDescription }}
                                        </p>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </section>
            </div>
        </div>
        {#            #}{#        {% else %} #}
        {#            #}{#            <tr> #}
        {#            #}{#                <td colspan="6">no records fnd</td> #}
        {#            #}{#            </tr> #}
    {% endif %}
{% endblock %}
