{% extends 'base.html.twig' %}

{% block title %}Hello BasketController!{% endblock %}

{% block body %}
    <h1>Basket</h1>
    {% set basket =  app.session.get('basket') %}

    {% if basket is null %}
        <p>You have no products in your basket</p>

    {% else %}
        <ul>
            {% for product in basket %}
                <li>
                    <hr>
                    {{ product.productName }} :: {{ product.productDescription }}
                    <a href="{{ path('basket_delete', {'id': product.id}) }}">(remove)</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    <p>
        <a href="{{ path('empty_basket') }}">Remove all items</a>
    </p>

    <div class="checkout">
        <a class="checkout-button" href="{{ path('app_checkout_new') }}">Checkout</a>
    </div>

    <div class="continue-shopping">
        <a class="back-shopping" href="{{ path("app_product_index") }}">Continue shopping</a>
    </div>
    {#    {{ dump(app.session.get('basket')) }} #}
{% endblock %}
